--- 
import { getAllProjects } from "../lib/api/projects";

const projectsData = await getAllProjects();
console.log(projectsData.allProjects.slug)
--- 

<div>  

</div>

<style lang="scss">

</style>
