---
import Layout from "../layouts/PageLayout.astro";
import Faq from "../components/faq/faq.astro";
import { getFAQContent } from "../lib/api/faqContent";
import EmailForm from "../components/EmailForm.astro";

const seo = {
  // title: "Mimotype",
  // description: "Join us in shaping the future of the optoelectronics industry.",
  // image: "https://i.imgur.com/hev2VXn.png",
};
const faqData = await getFAQContent();

const contactData = [
  {
    text: "Press inquiries",
    url: "mailto:test@email.com",
  },
  {
    text: "Career opportunities",
    url: "mailto:test@email.com",
  },
];
---

<Layout seo={seo}>
  <div class="page-wrapper">
    <section class="form-section-wrapper">
      <header class="header-flex">
        <div class="header-flex-item-1">
          <h2>Work with us!</h2>
          <svg
            class="svg-avatar"
            width="246"
            height="238"
            viewBox="0 0 246 238"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M245.561 169.282C247.332 156.888 243.066 145.037 235.06 136.64C235.103 136.336 235.167 136.035 235.21 135.731C244.458 71.0092 199.624 10.875 135.263 1.67834C111.178 -1.76322 87.0355 2.24682 65.4879 13.261C31.0598 30.7211 7.24986 64.0396 1.77203 102.375C-7.47631 167.097 37.3584 227.231 101.719 236.428C116.762 238.577 131.767 237.828 146.297 234.222C167.44 229.06 186.527 218.149 201.881 202.592C222.98 205.359 242.505 190.522 245.54 169.279L245.561 169.282ZM203.553 187.87C192.9 186.348 184.862 178.028 183.144 167.905C183.174 166.98 183.224 166.057 183.357 165.125C185.197 152.246 197.127 143.246 209.935 145.076C222.743 146.907 231.678 158.867 229.838 171.747C226.1 182.516 215.173 189.53 203.533 187.867L203.553 187.87ZM166.578 181.161C165.019 191.787 157.869 212.483 132.753 214.246C131.283 214.326 130.649 212.293 131.947 211.548C136.794 208.687 142.313 204.867 147.893 199.754C154.133 194.054 160.406 185.383 163.949 180.144C164.828 178.885 166.813 179.665 166.598 181.163L166.578 181.161ZM49.2778 164.812C48.4902 163.853 49.3689 162.449 50.5569 162.763C72.361 168.793 93.9265 174.478 115.802 166.92C122.056 164.859 128.172 161.745 134.77 158.141C135.861 157.553 137.031 158.712 136.48 159.832C120.062 193.484 71.686 192.068 49.2807 164.792L49.2778 164.812ZM46.2234 107.094C48.0059 94.6194 55.4682 85.3948 62.8991 86.4566C70.3299 87.5184 74.89 98.4609 73.1074 110.936C71.3249 123.41 63.8684 132.594 56.4576 131.535C49.0469 130.476 44.4466 119.528 46.2234 107.094ZM106.54 138.692C99.1298 137.633 94.5496 126.687 96.3264 114.253C98.1031 101.819 105.571 92.5542 112.982 93.6131C120.393 94.6721 124.993 105.62 123.21 118.095C121.428 130.57 113.971 139.754 106.54 138.692ZM119.019 54.5313C99.7827 49.7988 60.78 46.0647 34.7572 83.2206C32.9857 85.6952 29.028 84.1997 29.5023 81.1678C31.3737 69.0779 39.0118 48.9882 67.3919 31.7178C67.7115 31.4948 68.1201 31.3673 68.4971 31.3178C72.6321 30.7101 96.6239 28.3317 121.552 49.4585C123.872 51.4845 122.013 55.2898 119.036 54.5544L119.019 54.5313ZM176.117 187.607C177.364 189.232 178.729 190.749 180.213 192.16C177.351 198.095 173.753 203.718 169.628 208.997C165.621 211.297 161.482 213.372 157.185 215.113C164.742 206.956 171.157 197.726 176.096 187.604L176.117 187.607ZM210.332 142.302C200.222 140.857 190.626 145.458 185.121 153.351C189.546 143.961 199.692 138.095 210.446 139.632C220.132 141.016 227.639 148.019 230.215 156.881C226.536 149.267 219.276 143.559 210.334 142.282L210.332 142.302ZM221.306 127.339C218.525 126.239 215.622 125.411 212.541 124.97C208.795 124.435 205.11 124.487 201.544 124.99C195.947 77.7365 162.333 35.4272 117.541 20.8644C160.23 38.6397 189.74 82.4909 190.465 128.325C189.362 128.849 188.294 129.42 187.238 130.054C183.429 76.3198 141.391 30.2651 84.1053 21.3147C99.7243 15.6941 116.436 13.9286 133.151 16.3169C187.382 24.0662 225.741 73.1494 221.286 127.336L221.306 127.339ZM176.848 204.491C179.325 201.539 181.618 198.436 183.726 195.183C184.56 195.819 185.443 196.4 186.349 196.963C183.314 199.65 180.156 202.195 176.848 204.491Z"
              fill="var(--primary-light)"></path>
          </svg>
        </div>
        <div class="header-flex-item-2">
          <h6>
            SuperJoy Studios is here to help you create your premiere Fortnite
            experience.
          </h6>
        </div>
      </header>
      <div class="form-flex">
        <div class="form-flex-half">
          <div class="other-inquiries">
            <h6>Other inquiries?</h6>
            {
              contactData.map((contact) => {
                return (
                  <div class="contact-item">
                    <svg
                      class="contact-arrow-svg"
                      width="27"
                      height="18"
                      viewBox="0 0 27 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.1796 0C13.1796 0.658457 13.1275 1.83195 13.0828 2.57515C16.0853 4.18544 21.0695 6.66932 24.154 8.22093C21.1515 8.27309 17.9776 8.27309 13.6863 8.27309C9.39487 8.27309 4.09023 8.27309 0 8.1753V9.81818C4.12748 9.75299 7.875 9.75299 13.6416 9.75299C19.4081 9.75299 20.9876 9.75299 23.9454 9.78559C20.7715 11.3894 16.0331 13.7885 13.0753 15.3792C13.1275 16.0768 13.1722 17.3024 13.1722 18C15.668 16.1224 25.3535 11.096 27 9.96161V8.12966C25.4578 6.94314 15.6755 2.0536 13.1796 0Z"
                        fill="#3A4014"
                      />
                    </svg>
                    <a href={`${contact.url}`} target="_blank" rel="noreferrer">
                      <p>{contact.text}</p>
                    </a>
                  </div>
                );
              })
            }
          </div>
        </div>
        <div class="form-flex-half">
          <EmailForm />
        </div>
      </div>
    </section>
  </div>
  <section class="form-section">
    <Faq data={faqData} faqTitle="var(--color-yellow)" />
  </section>
</Layout>

<script>
  // init lenis
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis({
    lerp: 0.075,
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
</script>

<style lang="scss">
  .page-wrapper {
    background: var(--accent-yellow);
    position: relative;
  }
  .section-wrapper {
    width: var(--inner-width);
    margin: 0 auto;
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
    color: var(--color-darkgreen);
  }

  .header-flex-item-1 {
    position: relative;
    flex-basis: 60%;

    h2 {
      position: relative;
      z-index: 1;
      width: 90%;
    }
    .svg-avatar {
      position: absolute;
      z-index: 0;
      top: -20%;
      right: 10%;
    }
  }
  .header-flex-item-2 {
    flex-basis: 40%;
    h6 {
      width: 90%;
    }
  }

  .form-section-wrapper {
    width: var(--inner-width);
    margin: 0 auto;
    padding: 15rem 0;
  }

  .header {
    width: 100%;
    h2,
    h5 {
      color: var(--primary-dark);
    }
    h5 {
      width: 70%;
    }
  }

  .form-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 0;
  }
  .form-flex-half {
    max-width: 790px;
  }
  .form-flex-half:nth-child(odd) {
    flex-basis: 30%;

    position: sticky;
    padding: 5rem 0;
    top: 10vh;
  }
  .form-flex-half:nth-child(even) {
    flex-basis: 65%;
    max-width: 850px;
    // min-width: 50%;
    padding: 5rem 2rem;
  }

  .other-inquiries {
    color: var(--color-darkgreen);
    h6 {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  }
  .contact-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;

    .contact-arrow-svg {
      transition: 0.25s cubic-bezier(0.5, 0.5, 0, 1);
      margin-right: 1rem;
    }
    a {
      color: var(--color-darkgreen);
      text-decoration: none;
    }
  }
  .contact-item:hover {
    .contact-arrow-svg {
      transform: translateX(0.5rem);
    }
    a {
      text-decoration: underline;
    }
  }
</style>
