---
import Button from "../Button.astro";
---

<div class="wrapper">
  <h2>Experience the future of digital marketing</h2>
  <h4>Activate your brand in the Fortnite Metaverse</h4>
  <Button input="Learn more" url="" />
</div>

<style lang="scss">
  .wrapper {
    background: var(--primary-light);
    color: var(--primary-dark);
    width: var(--max-width);
    margin: 10rem auto;

    h2 {
      line-height: 100%;
      width: 80%;
    }
    h4 {
      margin: 3rem 0;
      width: 50%;
    }
  }
</style>
