<div class="wrapper">
  <div class="flex">
    <div class="header">
      <h6>01</h6>
      <h4>Goal-focused and results driven marketing campaigns</h4>
      <p>
        Our parent companies - SypherPK and Oni Studios - have been leading
        content production within the global Fortnite category through SypherPK.
      </p>
    </div>
    <div class="services">
      <div class="service">
        <h6>Consulting & Proposals</h6><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor ea commodo consequat.
        </p>
      </div>
      <div class="service">
        <h6>Updates & Maintenance</h6><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor ea commodo consequat.
        </p>
      </div>
      <div class="service">
        <h6>Launch & Promotion</h6><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor ea commodo consequat.
        </p>
      </div>
      <div class="service">
        <h6>Development</h6><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor ea commodo consequat.
        </p>
      </div>
      <svg
        class="astro-svg"
        width="337"
        height="426"
        viewBox="0 0 337 426"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.4"
          d="M334.209 263.31C329.932 256.12 318.169 249.778 300.987 250.257L301.245 247.603L296.636 245.095C290.957 242.035 283.398 238.163 275.434 234.107C275.323 231.157 275.36 228.244 275.36 225.552C275.434 215.67 275.507 208.517 269.46 205.014C266.805 203.465 262.86 202.617 258.472 202.175C277.609 198.266 292.063 181.342 292.063 161.061C292.063 147.64 285.721 135.73 275.876 128.023C275.876 127.691 275.876 127.36 275.876 127.028C275.876 57.0057 218.907 0 148.848 0C122.632 0 97.5211 7.9277 76.2085 22.8613C42.1747 46.6075 21.8577 85.5455 21.8577 127.028C21.8577 155.088 31.0391 181.047 46.4889 202.101C45.0877 201.179 43.6496 200.442 42.2853 200.184C39.8517 199.741 37.4918 200.258 35.5744 201.696C32.2927 204.166 30.6703 207.706 29.9329 210.84C18.7234 210.84 2.42556 212.573 0.47129 223.709C-0.782394 230.752 0.47129 236.836 4.1586 241.85C9.09958 248.524 18.1335 252.765 31.629 254.793C31.7028 255.493 31.7028 256.194 31.7765 256.895L32.3296 261.614L36.7544 263.347C58.1039 271.681 108.915 291.961 124.77 298.266C126.245 322.713 139.851 351.216 162.196 362.056C172.558 367.071 175.139 373.708 175.729 377.691L168.502 381.489C160.722 385.581 155.891 393.583 155.891 402.359C155.891 410.323 159.837 417.661 166.474 422.049C170.382 424.63 174.881 425.957 179.416 425.957C182.55 425.957 185.721 425.331 188.745 424.04L225.139 408.406C230.301 406.415 234.357 402.285 236.238 397.049C238.118 391.813 237.602 386.061 234.873 381.23L216.363 348.598C219.092 347.75 221.599 346.68 223.774 345.5C262.159 387.646 272.963 389.822 276.798 389.822C277.056 389.822 277.277 389.822 277.462 389.822C289.372 389.342 304.895 376.879 307.882 374.372L309.541 373.008L310.279 370.98C312.639 364.416 324.106 330.899 316.436 314.859C314.335 310.508 311.016 307.447 306.739 306.009C305.633 305.641 304.563 305.346 303.457 305.088C304.453 304.571 305.338 303.871 306.075 302.986C308.877 299.557 309.504 295.427 309.394 292.071C316.805 289.417 329.084 284.217 333.841 277.359C336.754 273.192 336.864 267.956 334.136 263.384L334.209 263.31ZM270.198 315.375L263.155 309.033C263.892 304.535 264.482 297.455 263.155 289.822L275.434 295.648H277.314C278.162 295.611 279.342 295.464 280.743 295.021C284.541 298.561 288.855 301.99 292.948 304.055C286.975 304.387 281.296 306.268 276.392 309.66C274.364 311.098 272.189 312.978 270.124 315.375H270.198ZM259.504 225.405C259.504 225.626 259.504 225.884 259.504 226.106C253.384 223.045 247.594 220.206 242.801 217.883C249.659 217.514 256.002 217.588 259.431 218.178C259.541 220.206 259.541 223.119 259.504 225.442V225.405ZM250.139 134.918C260.684 134.918 269.755 141.187 273.848 150.221C268.76 142.699 260.168 137.758 250.434 137.758C239.409 137.758 229.895 144.1 225.213 153.318C228.494 142.699 238.413 134.955 250.139 134.955V134.918ZM250.139 187.094C238.561 187.094 228.715 179.498 225.323 169.026C225.213 168.03 225.139 167.072 225.139 166.039C225.139 152.101 236.496 140.744 250.434 140.744C264.372 140.744 275.729 152.064 275.729 166.002C273.369 177.986 262.823 187.094 250.139 187.094ZM209.689 185.582C209.652 197.086 205.154 220.095 178.679 225.774C177.13 226.069 176.098 224.041 177.425 223.045C182.108 219.247 187.418 214.38 192.617 208.111C198.406 201.106 203.752 190.966 206.776 184.881C207.513 183.407 209.726 183.923 209.726 185.582H209.689ZM139.667 58.5544C118.428 56.4526 76.2823 58.4069 54.1584 101.733C52.6466 104.646 48.2219 103.65 48.2588 100.332C48.4063 87.2416 53.4947 64.7491 81.1126 42.1459C81.4445 41.8509 81.8132 41.6665 82.2188 41.5559C86.533 40.3022 111.754 34.1444 141.548 52.7653C144.313 54.5352 142.949 58.8863 139.63 58.5544H139.667ZM220.861 191.039C222.447 192.588 224.143 193.952 225.913 195.243C223.738 201.954 220.788 208.48 217.211 214.712C213.303 217.772 209.21 220.575 204.895 223.045C211.717 213.237 217.137 202.507 220.861 191.039ZM230.117 197.898C231.112 198.451 232.145 198.93 233.177 199.373C230.338 202.691 227.388 205.862 224.18 208.812C226.356 205.309 228.347 201.659 230.117 197.898ZM259.836 120.243C256.702 119.506 253.457 119.063 250.139 119.063C246.083 119.063 242.137 119.69 238.413 120.759C225.249 71.4968 182.956 31.7108 132.956 23.0457C181.186 35.435 219.35 77.4703 227.093 125.958C225.987 126.696 224.954 127.433 223.922 128.281C211.68 71.8656 159.8 29.3878 97.3368 28.6135C113.155 20.2802 130.707 15.8554 148.885 15.8554C207.882 15.8554 256.297 62.0942 259.799 120.243H259.836ZM31.9609 241.998C20.899 240.117 16.253 236.836 14.3724 234.328C13.4137 233.001 12.1969 230.788 12.8975 226.364C15.2205 224.372 25.7662 223.119 35.2057 223.783L39.0405 224.004C35.6482 228.797 33.0671 234.771 31.9609 242.035V241.998ZM42.1747 220.058L41.9535 216.924C41.9166 216.334 41.9535 215.634 42.0641 214.896C42.8016 215.707 43.5759 216.703 44.424 217.735C43.6496 218.473 42.9122 219.247 42.1747 220.058ZM65.6997 223.193L65.5891 222.824C81.887 236.983 101.762 247.123 123.701 251.548C124.881 257.853 126.319 268.694 125.508 281.452C107.219 274.151 68.3177 258.664 47.2632 250.368C46.8945 228.982 63.6717 223.746 65.6997 223.156V223.193ZM141.326 283.148C141.584 279.571 141.658 276.142 141.658 272.861C141.916 272.381 142.211 271.902 142.58 271.459C144.055 269.653 146.12 268.546 148.443 268.362L195.456 264.343C195.714 264.343 195.935 264.343 196.193 264.343C200.508 264.343 204.232 267.625 204.674 271.976L206.149 286.393C206.37 288.642 205.707 290.891 204.269 292.625C202.831 294.394 200.803 295.501 198.516 295.722L151.761 300.405C147.226 300.921 142.986 297.529 142.469 292.919L141.326 283.111V283.148ZM221.341 391.629C221.156 392.145 220.677 393.067 219.202 393.62L182.514 409.401C180.117 410.434 177.462 410.213 175.25 408.775C173.037 407.337 171.783 404.977 171.783 402.359C171.783 399.483 173.369 396.901 175.913 395.537L190.626 387.831L191.363 384.107C191.474 383.48 193.244 373.819 187.233 363.605C190.81 361.503 196.378 359.365 204.195 359.217L221.083 389.011C221.71 390.117 221.488 391.112 221.304 391.629H221.341ZM231.002 329.719L225.655 323.745L219.718 329.129C219.718 329.129 206.444 340.928 187.934 330.198L179.969 343.952C186.68 347.823 193.17 349.741 199.18 350.368L201.982 355.346C194.35 355.825 188.782 358.074 185.021 360.323C181.629 355.862 176.651 351.437 169.129 347.787C157.403 342.108 147.484 327.47 143.022 311.614C145.493 312.61 148.111 313.163 150.876 313.163C151.577 313.163 152.278 313.163 152.978 313.052L199.696 308.369C205.338 307.816 210.426 305.051 214.003 300.663C217.58 296.275 219.239 290.744 218.649 285.102L217.174 270.685C215.994 259.254 205.67 250.774 194.276 251.732L147.263 255.751C144.903 255.936 142.691 256.6 140.589 257.521C140.441 256.194 140.257 254.94 140.073 253.723C142.949 253.908 145.862 254.055 148.775 254.055C165.146 254.055 181.039 250.995 195.972 244.948C206.923 240.56 217.1 234.697 226.319 227.58C235.574 232.079 265.994 246.976 284.209 256.563C282.292 271.017 278.752 276.732 276.872 278.797L237.491 260.102L230.707 274.446L241.4 279.498C251.687 290.965 246.746 309.512 246.71 309.66L245.345 314.417L262.381 329.829C260.979 334.475 260.058 340.006 259.91 346.533L275.765 346.865C276.024 335.397 279.416 326.806 285.389 322.639C289.556 319.726 294.829 319.026 300.36 320.611C298.479 321.164 296.488 322.012 294.534 323.303C288.265 327.396 284.062 334.549 282.034 344.579C279.232 358.332 277.499 367.551 276.466 373.34C269.018 369.394 247.631 348.413 230.854 329.682L231.002 329.719ZM296.119 363.458C291.621 366.961 285.389 370.98 280.743 372.823C281.813 367.034 283.472 358.222 286.053 345.39C287.86 336.467 291.473 330.161 296.783 326.695C298.848 325.331 300.95 324.593 302.867 324.188C304.526 332.816 300.249 351.253 296.083 363.458H296.119ZM300.544 281.599L294.423 283.517L296.341 289.638C296.525 290.228 296.672 290.928 296.746 291.629C295.05 290.486 292.985 288.827 290.883 286.983C294.239 282.153 297.41 274.63 299.401 263.052C314.962 262.094 323.184 268.067 323.553 270.021C320.751 274.04 308.177 279.313 300.581 281.599H300.544Z"
          fill="#F8FAFB"></path>
      </svg>
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper {
    width: var(--max-width);
    margin: 0 auto;
    position: relative;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .header {
    flex-basis: 45%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    color: var(--primary-light);

    h4 {
      font-family: "Hamburg-Black";
      margin: 3rem 0;
    }
  }
  .services {
    position: relative;
    margin-top: 15rem;
    align-self: flex-end;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    color: var(--primary-light);
    h6 {
      margin-bottom: 1rem;
    }

    .astro-svg {
      position: absolute;
      top: -10rem;
      right: 0;
    }
  }

</style>
