<div class="header">
  <h3>
    <span class="header-line"><h6>04</h6>Roadmap to</span>
    <span class="header-line">excellence</span>
  </h3>
  <h6>
    Excellence is at the core of the SuperJoy philosophy. <br /> Our streamlined
    project management process will ensure your company has firm timelines and clear
    communication every step of the way to ensure projects are developed on time,
    and in scope, every time.
  </h6>
</div>

<style lang="scss">
  .header {
    width: 60%;
    margin: 10rem auto;
    color: var(--color-navy);
    .header-line {
      display: flex;
      h6 {
        margin-top: 0.5rem;
        margin-right: 1.5rem;
        text-align: unset;
      }
    }
    .header-line:nth-of-type(2) {
      text-align: right;
      margin-right: 2rem;
      display: block;
    }
    h3 {
      text-transform: uppercase;
    }
    h6 {
      margin-top: 5rem;
      text-align: center;
    }
  }
</style>
