---
import { Image } from "@astrojs/image/components";
const { imageSrc, description } = Astro.props;
---

<>
  <div class="container" id="scroll-parent">
    <div class="sticky-contents">
      <svg
        class="superjoy-logo"
        id="superjoy-logo"
        width="250"
        height="352"
        viewBox="0 0 250 352"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M55.1359 226.198C64.7361 225.487 73.6252 221.578 80.3808 215.181C84.6476 211.272 85.0031 204.875 81.0919 200.611C77.1808 196.346 70.7807 195.991 66.5139 199.9C63.3139 203.099 58.336 204.875 53.3581 205.586C50.5136 205.586 40.2024 206.297 36.6467 199.9C36.6467 199.545 36.2912 198.834 35.9356 198.479H59.0471C66.5139 197.768 73.2696 194.57 77.5363 189.239C81.8031 183.908 83.5809 177.156 82.1586 170.76C78.9586 154.768 67.225 146.239 49.0914 146.239C30.9578 146.239 13.1797 159.032 13.1797 181.421C13.1797 203.809 13.1797 200.256 18.1576 209.851C23.8465 220.512 35.5801 226.553 50.1581 226.553C64.7361 226.553 53.3581 226.553 54.7804 226.553L55.1359 226.198ZM34.5134 178.222C35.2245 169.693 39.1357 166.85 49.447 166.85C59.7582 166.85 61.5361 171.47 62.2472 175.024C62.2472 175.024 62.2472 175.735 61.8916 176.446C61.1805 177.156 60.1138 177.867 59.0471 177.867H35.9356C35.2245 178.222 34.8689 178.222 34.1578 178.578L34.5134 178.222Z"
          fill="var(--primary-light)"></path>
        <path
          d="M85.7151 235.438H46.6033C39.1365 235.438 33.092 241.479 33.092 248.942C33.092 256.405 39.1365 262.446 46.6033 262.446H72.2037V306.157C72.2037 309 71.4926 315.752 66.1592 315.752C55.8479 315.752 51.9367 302.958 51.9367 301.537C51.9367 294.074 45.8922 288.033 38.4254 288.033C30.9586 288.033 24.9141 294.074 24.9141 301.537C24.9141 315.752 39.1365 342.76 66.1592 342.76C93.1819 342.76 99.2264 321.083 99.2264 306.157V248.942C99.2264 241.479 93.1819 235.438 85.7151 235.438Z"
          fill="var(--primary-light)"></path>
        <path
          d="M115.582 215.181V201.321C116.293 190.305 118.426 176.801 123.76 171.115C125.538 169.338 126.96 168.627 129.449 168.627C134.071 168.627 135.493 170.049 135.849 170.759C138.693 173.958 138.693 181.42 138.338 184.619C137.271 190.66 141.538 196.346 147.582 197.412C153.627 198.478 159.316 194.214 160.383 188.173C160.738 186.04 163.227 168.272 152.916 156.544C149.005 151.924 141.893 146.594 129.449 146.594C117.004 146.594 119.137 148.015 114.515 150.503C112.737 146.238 108.826 143.396 104.204 143.396C99.5816 143.396 93.1815 148.371 93.1815 154.412V200.255C92.8259 208.429 93.1815 214.47 93.1815 216.247C93.537 221.933 98.5149 226.553 104.204 226.553C104.204 226.553 104.204 226.553 104.559 226.553C110.604 226.553 115.226 221.578 115.226 215.536L115.582 215.181Z"
          fill="var(--primary-light)"></path>
        <path
          d="M48.3807 138.776C53.7141 138.776 59.4031 137.71 64.381 135.578C80.7368 128.826 91.0481 113.189 91.0481 95.0651C91.0481 76.9411 68.2921 68.7675 53.003 65.9245C30.6026 62.3708 27.4026 59.1724 27.4026 51.3542C27.4026 43.536 40.2028 36.0731 45.5362 33.9409C71.1366 23.2797 114.16 24.3458 131.582 41.7591C149.005 59.1724 145.449 47.0897 150.782 41.7591C156.116 36.4285 156.116 27.8995 150.782 22.5689C124.826 -3.37337 70.0699 -5.5056 35.2249 9.06472C12.8245 18.3044 0.379883 33.2301 0.379883 51.3542C0.379883 84.4039 31.6693 89.7345 48.7362 92.5775C53.7141 93.2883 61.1809 94.7098 64.0254 96.1313C63.6698 102.528 59.7587 108.214 54.0697 110.346C46.9584 113.189 38.7805 110.346 31.3137 102.883C23.8469 95.4205 17.4468 97.5528 12.1134 102.883C6.77999 108.214 6.77999 116.743 12.1134 122.074C22.7803 132.735 35.5805 138.421 48.3807 138.421V138.776Z"
          fill="var(--primary-light)"></path>
        <path
          d="M134.427 68.7673V77.2963C134.427 87.9575 134.427 97.5526 132.293 103.594C130.871 107.858 130.16 108.214 126.249 108.214C122.338 108.214 122.693 107.858 122.338 107.503C119.493 104.66 119.493 89.0236 119.849 77.6516C119.849 74.8086 119.849 71.9657 119.849 68.7673C119.849 61.3044 113.804 55.2631 106.338 55.2631C98.8707 55.2631 92.8262 61.3044 92.8262 68.7673V77.2963C92.8262 98.6187 92.8262 115.677 103.137 126.338C108.826 132.024 116.649 134.867 126.249 134.867C135.849 134.867 134.427 134.156 137.982 133.09C140.471 135.933 144.027 137.71 147.938 137.71C155.405 137.71 161.45 131.668 161.45 124.206V68.4119C161.45 60.9491 155.405 54.9077 147.938 54.9077C140.471 54.9077 134.427 60.9491 134.427 68.4119V68.7673Z"
          fill="var(--primary-light)"></path>
        <path
          d="M172.116 80.1393V193.148C172.116 200.611 178.16 206.652 185.627 206.652C193.094 206.652 199.138 200.611 199.138 193.148V129.181C219.05 127.759 233.628 121.718 241.806 111.057C247.139 104.305 252.828 92.222 248.206 73.3872C245.361 60.2384 235.406 50.6433 220.828 46.3788C201.983 41.0482 178.871 46.0234 166.782 58.1061C161.449 63.4368 161.449 71.9657 166.782 77.2963C172.116 82.6269 169.982 79.7839 171.76 80.4947L172.116 80.1393ZM199.138 71.6103C203.761 70.8996 209.094 70.8996 213.716 72.3211C221.183 74.4533 221.894 78.0071 222.25 79.4286C224.383 89.379 221.894 92.9328 220.828 93.9989C217.628 98.2634 209.805 101.106 199.138 102.172V71.9657V71.6103Z"
          fill="var(--primary-light)"></path>
        <path
          d="M140.827 229.041C116.293 229.041 105.271 255.338 105.271 281.28C105.271 326.413 117.36 352 138.693 352C155.76 352 176.027 340.983 176.027 288.388C176.027 235.793 176.027 229.396 140.471 229.396L140.827 229.041ZM141.893 323.57C133.715 323.57 132.293 304.024 132.293 281.28C132.293 258.537 135.849 257.826 140.827 257.47C144.738 257.47 151.494 258.537 151.494 289.099C151.494 319.661 149.716 323.215 141.893 323.215V323.57Z"
          fill="var(--primary-light)"></path>
        <path
          d="M228.65 149.082C221.183 149.082 215.139 155.123 215.139 162.586V251.429C201.983 249.297 200.561 241.479 200.561 225.842C200.561 210.206 194.516 212.338 187.049 212.338C179.583 212.338 173.538 218.379 173.538 225.842C173.538 239.346 173.538 273.462 215.139 278.438V307.578C215.139 313.62 213.361 321.082 211.583 324.636C210.872 323.57 209.094 320.016 209.094 310.777C209.094 301.537 203.05 297.272 195.583 297.272C188.116 297.272 182.072 303.314 182.072 310.777C182.072 348.091 203.761 352 213.005 352C233.272 352 241.45 328.545 242.161 308.289V162.586C242.161 155.123 236.117 149.082 228.65 149.082Z"
          fill="var(--primary-light)"></path>
      </svg>
      <svg
        class="studios-svg"
        id="studios-svg"
        width="526"
        height="68"
        viewBox="0 0 526 68"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M33.8164 47.8295C33.8164 44.2447 32.2069 42.1962 22.9889 40.8793C4.11391 38.3188 0.382812 31.8808 0.382812 20.468C0.382812 6.71419 9.01555 0.568848 29.6463 0.568848C52.9108 0.568848 58.6904 6.2021 58.6904 18.2001C58.6904 19.5902 58.6172 21.0533 58.5441 22.5897C55.1787 22.2239 49.3992 22.0044 44.7902 22.0044C41.8638 22.0044 39.2301 22.0776 37.5475 22.1507C37.6206 21.4923 37.6206 20.8338 37.6206 20.468C37.6206 17.3954 36.3038 15.6396 31.4021 15.6396C27.5247 15.6396 26.1347 17.0296 26.1347 19.2975C26.1347 22.5165 27.3784 24.7113 37.6938 26.3208C54.5203 28.9545 59.7878 34.2219 59.7878 47.171C59.7878 60.1201 52.3256 67.0702 30.3048 67.0702C6.9671 67.0702 0.602294 61.8759 0.602294 49.4389C0.602294 47.8294 0.675445 46.0736 0.894922 44.3178C4.8455 44.6105 10.4787 44.9762 15.7462 44.9762C18.3067 44.9762 20.6478 44.9031 22.3304 44.8299C22.2573 45.4152 22.2573 46.0005 22.2573 46.5126C22.2573 50.2437 23.7205 51.9263 28.2563 51.9263C32.7921 51.9263 33.9627 50.4632 33.9627 47.8295H33.8164Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M130.605 1.73877C130.458 4.73828 130.458 9.42046 130.458 13.5905C130.458 17.7606 130.458 22.7353 130.605 26.0275C126.654 25.9543 122.85 25.9543 119.046 25.8812C119.119 44.4635 119.192 61.8021 119.411 65.9722C115.68 65.6795 109.389 65.6795 104.926 65.6795C100.463 65.6795 94.391 65.6795 90.5136 65.9722C90.6599 61.8021 90.8794 44.3904 90.9525 25.8812C87.2214 25.8812 83.2709 25.9543 79.3203 26.0275C79.3935 22.8085 79.3935 17.7606 79.3935 13.5905C79.3935 9.42046 79.3935 4.66512 79.3203 1.73877H130.605Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M216.421 1.73877C216.128 7.51831 216.055 13.4442 216.055 22.0769C216.055 27.4907 216.201 36.0502 216.201 41.9029C216.201 59.2416 209.178 66.9232 184.231 66.9232C159.284 66.9232 152.26 59.2416 152.26 41.9029C152.26 35.9771 152.334 27.4175 152.334 22.0769C152.334 13.4442 152.187 7.51831 151.968 1.73877H179.11C178.963 12.8589 178.744 29.1001 178.744 39.0497C178.744 44.0977 180.573 46.2924 184.816 46.2924C189.059 46.2924 190.596 44.0977 190.596 39.0497C190.596 29.1001 190.449 12.8589 190.303 1.73877H216.274H216.421Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M274.361 1.73968C295.504 1.73968 304.941 6.78763 304.941 31.2227C304.941 59.3156 296.747 65.8268 273.995 65.8268H240.415C240.561 56.7551 240.708 47.4639 240.708 33.8564C240.708 20.2488 240.635 10.4456 240.415 1.6665H274.361V1.73968ZM278.823 32.5395C278.823 20.322 276.482 18.7125 271.069 18.7125C269.605 18.7125 268.069 18.7857 266.606 18.7857C266.46 23.541 266.46 28.5158 266.46 33.5637C266.46 39.0506 266.46 43.2207 266.533 46.7323C267.996 46.8055 269.459 46.8055 270.995 46.8055C276.555 46.8055 278.897 44.9033 278.897 32.5395H278.823Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M327.334 65.8995C327.627 56.7547 327.627 47.4636 327.627 33.856C327.627 20.2485 327.627 10.8842 327.334 1.8125H354.622C354.476 10.8842 354.476 20.1753 354.476 33.7828C354.476 47.3904 354.476 56.6815 354.622 65.8995H327.334Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M410.876 66.9976C386.588 66.9976 376.931 57.048 376.931 32.3935C376.931 7.73901 388.051 0.642578 410.876 0.642578C433.702 0.642578 445.407 7.95848 445.407 32.3935C445.407 56.8285 435.238 66.9976 410.876 66.9976ZM418.046 32.2472C418.046 21.7123 415.705 18.6396 410.949 18.6396C406.194 18.6396 403.78 21.6391 403.78 32.2472C403.78 43.5136 406.121 47.0253 410.949 47.0253C415.778 47.0253 418.046 43.4405 418.046 32.2472Z"
          fill="var(--primary-dark)"></path>
        <path
          d="M499.768 47.8295C499.768 44.2447 498.159 42.1962 488.941 40.8793C470.066 38.3188 466.334 31.8808 466.334 20.468C466.334 6.71419 474.967 0.568848 495.598 0.568848C518.862 0.568848 524.642 6.2021 524.642 18.2001C524.642 19.5902 524.569 21.0533 524.496 22.5897C521.13 22.2239 515.351 22.0044 510.742 22.0044C507.815 22.0044 505.182 22.0776 503.499 22.1507C503.572 21.4923 503.572 20.8338 503.572 20.468C503.572 17.3954 502.255 15.6396 497.354 15.6396C493.476 15.6396 492.086 17.0296 492.086 19.2975C492.086 22.5165 493.33 24.7113 503.645 26.3208C520.472 28.9545 525.739 34.2219 525.739 47.171C525.739 60.1201 518.277 67.0702 496.256 67.0702C472.919 67.0702 466.554 61.8759 466.554 49.4389C466.554 47.8294 466.627 46.0736 466.847 44.3178C470.797 44.6105 476.43 44.9762 481.698 44.9762C484.258 44.9762 486.599 44.9031 488.282 44.8299C488.209 45.4152 488.209 46.0005 488.209 46.5126C488.209 50.2437 489.672 51.9263 494.208 51.9263C498.744 51.9263 499.914 50.4632 499.914 47.8295H499.768Z"
          fill="var(--primary-dark)"></path>
      </svg>
      <div class="hero-container" id="hero-container">
        <Image
          width={1703}
          height={960}
          src={imageSrc}
          class="hero-image"
          id="hero-image"
          format="webp"
        />
      </div>
      <h1 class="title" id="title">Superjoy Studios</h1>
      <h5 class="description" id="description">{description}</h5>
    </div>
  </div>
</>

<style lang="scss">
  .container {
    position: relative;
    display: block;
    width: 100%;
    height: 450vh;
    margin: 10rem auto;
    margin-top: 0rem;
  }

  .sticky-contents {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .superjoy-logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transition: 1s opacity cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  .studios-svg {
    position: absolute;
    z-index: 10;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    transition: 1s opacity cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  .hero-container {
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 0 auto;
    transition: width 2s cubic-bezier(0.075, 0.82, 0.165, 1),
      height 2s cubic-bezier(0.075, 0.82, 0.165, 1),
      mask-size 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .hero-image {
    scale: 1.25;
    width: 100%;
    height: 100%;
    transform-origin: center;
    object-fit: cover;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='422' height='549' viewBox='0 0 422 549' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M421.076 431.141C418.354 475.127 387.049 508.23 348.03 525.915C292.678 550.856 227.345 554.03 167.91 541.333C120.271 531.357 72.632 505.509 48.132 461.977C36.3357 440.664 29.9838 416.177 29.9838 391.69C29.9838 377.632 32.2524 363.575 32.7061 349.518C33.6135 336.367 33.6135 323.217 32.7061 309.613C32.7061 306.892 32.7061 304.171 32.2524 300.997C32.2524 300.09 32.2524 299.183 32.2524 297.823C31.7987 294.195 30.8913 290.114 29.9838 286.486C28.169 278.324 25.9005 270.161 23.1783 262.453C17.7339 247.488 11.8357 232.977 7.29867 217.56C-6.76615 169.946 -0.868 117.798 28.169 76.9858C44.0487 54.3126 65.3727 34.8137 90.3264 23.0236C122.086 8.05932 157.928 2.16429 192.41 0.350433C249.576 -2.37035 313.549 10.3266 353.928 53.4057C396.576 98.7521 416.539 165.411 409.734 227.082C407.919 241.593 407.465 256.104 407.919 270.615C408.373 300.544 412.456 330.472 416.086 360.401C418.808 383.981 422.891 408.015 421.53 431.141H421.076Z' fill='black'/%3E%3C/svg%3E%0A");
    -webkit-mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 23%;
    mask-image: url("data:image/svg+xml,%3Csvg width='422' height='549' viewBox='0 0 422 549' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M421.076 431.141C418.354 475.127 387.049 508.23 348.03 525.915C292.678 550.856 227.345 554.03 167.91 541.333C120.271 531.357 72.632 505.509 48.132 461.977C36.3357 440.664 29.9838 416.177 29.9838 391.69C29.9838 377.632 32.2524 363.575 32.7061 349.518C33.6135 336.367 33.6135 323.217 32.7061 309.613C32.7061 306.892 32.7061 304.171 32.2524 300.997C32.2524 300.09 32.2524 299.183 32.2524 297.823C31.7987 294.195 30.8913 290.114 29.9838 286.486C28.169 278.324 25.9005 270.161 23.1783 262.453C17.7339 247.488 11.8357 232.977 7.29867 217.56C-6.76615 169.946 -0.868 117.798 28.169 76.9858C44.0487 54.3126 65.3727 34.8137 90.3264 23.0236C122.086 8.05932 157.928 2.16429 192.41 0.350433C249.576 -2.37035 313.549 10.3266 353.928 53.4057C396.576 98.7521 416.539 165.411 409.734 227.082C407.919 241.593 407.465 256.104 407.919 270.615C408.373 300.544 412.456 330.472 416.086 360.401C418.808 383.981 422.891 408.015 421.53 431.141H421.076Z' fill='black'/%3E%3C/svg%3E%0A");
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    mask-size: 23%;
    transition: width 2s cubic-bezier(0.075, 0.82, 0.165, 1),
      height 2s cubic-bezier(0.075, 0.82, 0.165, 1),
      mask-size 4s cubic-bezier(0.075, 0.82, 0.165, 1),
      scale 1.75s cubic-bezier(0.075, 0.32, 0.165, 1);
  }

  .title {
    color: var(--color-darkpurple);
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .description {
    color: var(--color-darkpurple);
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: -0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
</style>

<script>
  import { scroll, timeline } from "motion";

  const parent = document.getElementById("scroll-parent");
  const studiosSVG = document.getElementById("studios-svg");
  const superjoyLogo = document.getElementById("superjoy-logo");
  const heroImage = document.getElementById("hero-image");
  const heroContainer = document.getElementById("hero-container");
  const title = document.getElementById("title");
  const description = document.getElementById("description");

  const sequence: any[] = [
    [
      studiosSVG,
      {
        opacity: [1, 0],
      },
    ],
    [
      superjoyLogo,
      {
        opacity: [1, 0],
      },
      { at: "<" },
    ],
    [
      heroImage,
      {
        maskSize: ["23%", "200%"],
      },
      {
        at: "<",
      },
    ],
    [
      heroContainer,
      {
        width: ["50%", "90%"],
        height: ["50%", "90%"],
      },
      {
        at: "<",
      },
    ],
    [heroImage, { scale: [1.25, 1] }, { at: "<" }],
    [
      heroContainer,
      {
        width: ["90%", "50%"],
        height: ["90%", "50%"],
        borderRadius: ["0px", "25px"],
      },
    ],
    [heroImage, { scale: [null, 1] }, { at: "<" }],
    [
      superjoyLogo,
      {
        display: "none",
      },
      { at: "<" },
    ],
    [
      studiosSVG,
      {
        display: "none",
      },
      { at: "<" },
    ],
    [
      title,
      {
        top: ["-10%", "8%"],
        opacity: [0, 1],
      },
      { at: "<" },
    ],
    [
      description,
      {
        bottom: ["-10%", "10%"],
        opacity: [0, 1],
      },
      { at: "<" },
    ],
  ];

  // sequence for Chrome users only that doesn't animate maskSize on WAAPI
  const chromeSpecificSequence: any[] = [
    [
      studiosSVG,
      {
        opacity: [1, 0],
      },
    ],
    [
      superjoyLogo,
      {
        opacity: [1, 0],
      },
      { at: "<" },
    ],
    [
      heroContainer,
      {
        width: ["50%", "90%"],
        height: ["50%", "90%"],
      },
      {
        at: "<",
      },
    ],
    [heroImage, { scale: [1.25, 1] }, { at: "<" }],
    [
      heroContainer,
      {
        width: ["90%", "50%"],
        height: ["90%", "50%"],
        borderRadius: ["0px", "25px"],
      },
    ],
    [heroImage, { scale: [null, 1] }, { at: "<" }],
    [
      superjoyLogo,
      {
        display: "none",
      },
      { at: "<" },
    ],
    [
      studiosSVG,
      {
        display: "none",
      },
      { at: "<" },
    ],
    [
      title,
      {
        top: ["-10%", "6%"],
        opacity: [0, 1],
      },
      { at: "<" },
    ],
    [
      description,
      {
        bottom: ["-10%", "3%"],
        opacity: [0, 1],
      },
      { at: "<" },
    ],
  ];

  // Test to see if a user is on chrome
  // This is because -webkit-mask-size (webkitMaskSize) is unsupported with WAAPI.

  const isChrome =
    /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

  if (isChrome) {
    scroll(timeline(chromeSpecificSequence), { target: parent });
    // run scroll function for webkitMaskSize separate from WAAPI sequence
    scroll(
      ({ y }) => {
        // map value between 23% and 200%
        const mappedValue = y.progress * (200 - 23) + 23;
        heroImage.style.webkitMaskSize = `${mappedValue}%`;
      },
      { target: parent }
    );
  } else {
    // if not chrome, serve Motion One WAAPI
    scroll(timeline(sequence), { target: parent });
  }
</script>
