<div class="wrapper">
  <svg
    id="astro-body"
    width="213"
    height="92"
    viewBox="0 0 213 92"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M209.151 50.166L200.327 43.8594L198.436 44.2798C177.007 48.6944 164.191 41.7572 152.846 35.4505C144.232 30.6155 138.139 22.8373 134.147 16.3204C132.256 13.1671 130.786 10.224 129.735 8.12183C129.525 8.12183 129.105 7.91161 128.685 7.70139C128.264 7.70139 127.844 7.49117 127.424 7.28095C127.004 7.28095 126.584 7.07073 126.374 6.86051C124.483 6.22985 122.382 5.59919 120.071 4.75831C114.818 3.07654 108.936 1.60499 106.204 1.18455C101.582 0.553888 96.7501 0.55389 91.9179 1.60499C87.2958 2.86632 83.5141 5.17874 80.3626 8.33205C74.2698 5.38896 56.2016 -2.17899 45.4867 5.59918C36.8728 11.6956 30.78 25.7804 27.8387 33.7688C26.368 33.7688 25.1074 33.979 23.6368 34.6097L21.5358 32.2972C19.4349 29.7746 16.0733 28.5133 12.7118 28.5133C9.56035 28.5133 6.40892 29.7746 3.88777 32.087C1.78681 33.979 0.526233 36.5016 0.106041 39.2345C-0.31415 42.1776 0.526234 44.9105 2.4171 47.0127L15.443 61.7281V66.1428C15.443 68.0348 16.2834 69.9268 17.544 71.1881C19.0147 72.4494 20.9055 73.0801 22.7964 73.0801C26.1579 73.0801 32.0406 72.4494 37.5031 72.029C69.8578 69.5063 75.1102 69.5063 75.9506 69.5063C77.2112 69.5063 78.6819 70.5574 80.7828 71.6085C83.5141 73.2903 87.5059 75.3925 92.9684 76.864C93.8088 77.0743 95.0693 77.2845 96.3299 77.4947C98.851 83.5911 105.154 91.7897 116.919 91.9999H119.02C129.315 91.9999 153.896 91.1591 158.098 84.432C158.098 84.2218 158.308 84.0115 158.518 83.8013C164.401 85.6933 170.074 86.7444 175.326 86.7444C180.578 86.7444 184.99 85.9035 189.192 84.2218C203.059 78.5458 211.042 58.5748 212.723 52.4784L209.151 51.0069V50.166ZM15.2329 45.7514V47.6433L8.71997 40.4958C8.71997 40.4958 8.71997 40.0754 8.71997 39.8652C8.71997 39.4447 9.14016 38.8141 9.56035 38.3936C10.4007 37.5527 11.4512 37.1323 12.5017 37.1323C13.5522 37.1323 13.9724 37.1323 14.3926 37.9732L16.4935 40.2856C15.6531 41.9674 15.2329 43.8594 15.2329 45.9616V45.7514ZM119.861 14.8489C120.281 15.9 122.802 22.6271 122.802 27.4622H125.113C125.113 23.6782 123.852 19.0533 122.802 16.3204C123.012 16.3204 123.852 16.7409 124.693 16.9511C128.054 23.0475 133.097 30.6155 140.45 36.7119C137.719 38.3936 133.097 40.4958 128.685 40.4958C120.911 40.2856 115.659 40.0754 115.449 26.2008C115.449 20.3146 114.398 15.6898 113.138 11.9058C115.659 12.7467 117.97 13.7978 120.071 14.8489H119.861ZM50.1088 12.5365C55.7814 8.54227 67.7569 12.5365 74.4799 15.4796C74.4799 15.4796 74.4799 15.4796 74.4799 15.6898C73.0093 18.2124 71.9588 20.7351 71.3285 23.2577C68.5973 22.4169 63.9752 21.3657 59.143 23.8884C56.2016 25.3599 53.8906 27.8826 51.9997 31.2461C47.7978 28.0928 44.0161 26.2008 41.0747 25.1497C43.806 19.8942 46.9574 15.0591 50.529 12.5365H50.1088ZM69.6477 36.5016L58.7228 37.763C59.7732 34.8199 61.2439 32.7177 62.9247 31.8768C65.6559 30.4052 69.2275 32.087 69.2275 32.087L69.6477 31.2461C69.6477 33.1381 69.6477 34.8199 69.6477 36.2914V36.5016ZM39.604 27.2519C42.5454 28.0928 46.3271 29.9848 50.7391 33.3483C49.8987 35.0301 49.4785 36.9221 48.8483 39.2345L38.5536 40.4958C37.7132 39.0243 36.8728 37.763 35.6122 36.7119C36.6627 33.979 37.9233 30.6155 39.604 27.4622V27.2519ZM51.7896 61.0975C47.3776 61.3077 42.3353 61.7281 36.2425 62.3588C31.8305 62.7792 27.4185 62.9895 24.057 63.1997V45.7514C24.057 43.8594 25.5276 42.3878 27.4185 42.3878C29.3094 42.3878 30.9901 44.0696 30.9901 45.9616V53.1091H40.0242V49.3251L50.9492 48.0638C51.9997 51.4273 53.0502 56.2624 51.9997 61.0975H51.7896ZM116.499 82.3298C111.247 82.3298 108.095 79.8071 106.204 77.2845C118.18 76.864 133.307 74.972 138.559 74.3414C141.921 76.2334 145.282 77.9151 148.434 79.3867C143.391 81.0685 130.155 82.54 116.499 82.3298ZM196.756 65.0917C194.024 59.8361 190.243 56.2624 186.671 53.95C184.99 53.95 183.52 53.95 182.049 53.95C186.041 56.0522 191.713 60.0464 195.075 67.4041C192.554 70.5574 189.402 73.2903 184.99 75.1823C172.174 80.4378 153.476 74.7618 130.576 58.9953L125.533 66.353C125.743 66.353 125.953 66.5632 126.164 66.7734C113.558 68.0348 99.2712 69.0859 94.6491 67.8245C90.2371 66.5632 87.0857 64.8815 84.5645 63.4099C81.8333 61.9384 79.3121 60.4668 76.3708 60.0464C75.5304 60.0464 73.4295 59.6259 54.1006 61.0975C55.1511 56.0522 54.1006 51.2171 53.0502 47.8536L75.3203 45.1207L80.7828 44.49L79.1021 39.2345C79.1021 38.8141 76.3708 30.195 82.0434 20.3146C84.7746 14.8489 88.5564 11.6956 93.5987 10.224C96.7501 9.38316 100.322 9.38316 103.683 9.8036C105.364 12.7467 107.465 18.0022 107.675 26.411C108.095 47.0127 120.071 47.6433 127.844 47.8536C128.054 47.8536 128.264 47.8536 128.475 47.8536C136.248 47.8536 143.391 43.2287 145.913 41.5469C146.543 41.9674 147.173 42.3878 148.013 42.8083C156.837 47.6433 167.132 53.5295 181.629 54.1602C181.629 54.1602 181.419 54.1602 181.209 54.1602C182.889 54.1602 184.57 54.1602 186.041 54.1602C189.612 54.1602 193.394 53.7398 197.386 52.8989L200.748 55.4215C199.277 59.2055 197.596 63.1997 196.125 65.5121L196.756 65.0917Z"
      fill="#F8FAFB"></path>
    <path
      d="M122.381 30.4054C121.54 31.0361 121.12 31.6667 120.91 32.7178C120.49 34.6098 121.961 36.5018 123.851 36.712C123.851 36.712 124.272 36.712 124.482 36.712C126.162 36.712 127.633 35.4507 127.843 33.7689C128.263 31.8769 126.793 29.985 124.902 29.7747C124.062 29.7747 123.011 29.7747 122.381 30.4054ZM124.692 32.0872C125.322 32.0872 125.742 32.928 125.742 33.5587C125.742 34.1894 124.902 34.6098 124.272 34.6098C123.641 34.6098 123.221 33.7689 123.221 33.1383C123.221 32.7178 123.431 32.5076 123.641 32.2974C123.641 32.2974 124.062 32.0872 124.272 32.0872H124.692Z"
      fill="#F8FAFB"></path>
    <path
      d="M187.091 53.95C185.411 53.95 183.94 53.95 182.469 53.95C182.469 53.95 182.259 53.95 182.049 53.95C183.73 53.95 185.411 53.95 186.881 53.95H187.091Z"
      fill="#F8FAFB"></path>
  </svg>

  <svg
    id="astro-head"
    width="142"
    height="142"
    viewBox="0 0 142 142"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M129.63 127.159C133.405 120.737 133.728 113.232 131.199 106.79C131.294 106.627 131.394 106.482 131.49 106.32C151.215 72.7694 140.001 29.4356 106.495 9.73395C93.9487 2.35695 79.6935 -0.924433 65.2967 0.243315C42.3232 2.03704 21.6296 14.9793 9.94604 34.8517C-9.77918 68.4018 1.43514 111.736 34.9414 131.437C42.7717 136.042 51.2409 139.039 60.0899 140.352C72.9502 142.317 85.9586 140.639 97.9788 135.567C109.016 141.897 123.178 138.157 129.647 127.154L129.63 127.159ZM88.108 32.9371C88.9353 34.5749 87.0486 36.249 85.5695 35.1753C76.006 28.1966 55.2876 17.2675 32.4981 31.8191C30.9584 32.7792 29.1188 31.0563 30.0528 29.4923C33.8151 23.2665 42.5774 13.9327 62.1673 10.8636C62.3951 10.8227 62.6471 10.8397 62.8628 10.8936C65.2851 11.5018 79.0762 15.647 88.1016 32.9479L88.108 32.9371ZM102.198 127.847C96.6495 124.584 94.0905 118.168 95.4161 112.2C95.6358 111.703 95.8836 111.207 96.1637 110.731C100.092 104.049 108.718 101.805 115.391 105.729C122.064 109.652 124.297 118.281 120.375 124.952C115.869 130.042 108.254 131.408 102.198 127.847ZM83.2584 115.748C80.0023 121.237 71.3792 131.003 57.0926 126.289C56.2636 125.991 56.3499 124.73 57.2574 124.623C60.5703 124.137 64.4872 123.292 68.7276 121.749C73.4701 120.019 78.8859 116.675 82.0434 114.597C82.8142 114.103 83.7277 114.975 83.2629 115.766L83.2584 115.748ZM87.084 121.495C87.3973 122.671 87.8137 123.819 88.3223 124.934C85.3975 127.557 82.1425 129.826 78.6655 131.804C75.9349 132.166 73.1878 132.357 70.4261 132.351C76.4385 129.576 82.0649 125.948 87.084 121.495ZM116.231 104.299C110.964 101.202 104.617 101.551 99.798 104.648C104.37 100.487 111.301 99.564 116.893 102.852C121.933 105.815 124.5 111.376 123.928 116.855C123.608 111.828 120.882 107.034 116.231 104.299V104.299ZM125.682 98.5472C124.4 97.3122 122.963 96.1907 121.363 95.2495C119.416 94.1048 117.362 93.2906 115.283 92.7675C122.858 65.4513 113.832 34.5098 92.3473 16.2948C111.938 35.8006 118.358 66.6677 108.404 92.0894C107.681 92.1307 106.957 92.2 106.241 92.3037C116.271 61.8261 103.413 26.8822 73.7531 8.93191C83.6561 9.39189 93.3077 12.2106 102.003 17.3236C130.242 33.9282 140.378 69.6905 125.671 98.5408L125.682 98.5472ZM83.6801 130.949C85.7161 129.887 87.6822 128.697 89.5891 127.384C89.9121 127.924 90.2759 128.444 90.6397 128.964C88.3518 129.761 86.0328 130.438 83.6801 130.949Z"
      fill="#F8FAFB"></path>
  </svg>
</div>

<style lang="scss">
  @keyframes rocking-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  @keyframes floating {
    from {
      transform: translateY(0) rotate(-1deg);
    }
    50% {
      transform: translateY(-10px) rotate(1deg);
    }
    75% {
      transform: translateY(-5px) rotate(-1deg);
    }
    to {
      transform: translateY(0) rotate(1deg);
    }
  }

  .wrapper {
    position: relative;
    aspect-ratio: 300/203;
    width: 265px;
    height: auto;
    animation: floating 5s ease-in-out infinite alternate;
    #astro-body {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    #astro-head {
      position: absolute;
      top: 0;
      right: 0;
      animation: rocking-animation 2s ease-in-out infinite;
      animation-direction: alternate;
    }
  }
</style>
