<div class="wrapper">
  <svg
    id="astro-body"
    width="102"
    height="44"
    viewBox="0 0 102 44"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M99.5505 23.5047L95.3505 20.5047L94.4505 20.7047C84.2505 22.8047 78.1505 19.5047 72.7505 16.5047C68.6505 14.2047 65.7505 10.5047 63.8505 7.40474C62.9505 5.90474 62.2505 4.50474 61.7505 3.50474C61.6505 3.50474 61.4505 3.40474 61.2505 3.30474C61.0505 3.30474 60.8505 3.20473 60.6505 3.10473C60.4505 3.10473 60.2505 3.00474 60.1505 2.90474C59.2505 2.60474 58.2505 2.30474 57.1505 1.90474C54.6505 1.10474 51.8505 0.404737 50.5505 0.204737C48.3505 -0.0952628 46.0505 -0.095262 43.7505 0.404738C41.5505 1.00474 39.7505 2.10473 38.2505 3.60473C35.3505 2.20473 26.7505 -1.39526 21.6505 2.30474C17.5505 5.20474 14.6505 11.9047 13.2505 15.7047C12.5505 15.7047 11.9505 15.8047 11.2505 16.1047L10.2505 15.0047C9.25047 13.8047 7.65047 13.2047 6.05047 13.2047C4.55047 13.2047 3.05047 13.8047 1.85047 14.9047C0.850474 15.8047 0.250473 17.0047 0.0504729 18.3047C-0.149527 19.7047 0.250473 21.0047 1.15047 22.0047L7.35047 29.0047V31.1047C7.35047 32.0047 7.75047 32.9047 8.35047 33.5047C9.05047 34.1047 9.95047 34.4047 10.8505 34.4047C12.4505 34.4047 15.2505 34.1047 17.8505 33.9047C33.2505 32.7047 35.7505 32.7047 36.1505 32.7047C36.7505 32.7047 37.4505 33.2047 38.4505 33.7047C39.7505 34.5047 41.6505 35.5047 44.2505 36.2047C44.6505 36.3047 45.2505 36.4047 45.8505 36.5047C47.0505 39.4047 50.0505 43.3047 55.6505 43.4047H56.6505C61.5505 43.4047 73.2505 43.0047 75.2505 39.8047C75.2505 39.7047 75.3505 39.6047 75.4505 39.5047C78.2505 40.4047 80.9505 40.9047 83.4505 40.9047C85.9505 40.9047 88.0505 40.5047 90.0505 39.7047C96.6505 37.0047 100.45 27.5047 101.25 24.6047L99.5505 23.9047V23.5047ZM7.25047 21.4047V22.3047L4.15047 18.9047C4.15047 18.9047 4.15047 18.7047 4.15047 18.6047C4.15047 18.4047 4.35047 18.1047 4.55047 17.9047C4.95047 17.5047 5.45047 17.3047 5.95047 17.3047C6.45047 17.3047 6.65047 17.3047 6.85047 17.7047L7.85047 18.8047C7.45047 19.6047 7.25047 20.5047 7.25047 21.5047V21.4047ZM57.0505 6.70474C57.2505 7.20474 58.4505 10.4047 58.4505 12.7047H59.5505C59.5505 10.9047 58.9505 8.70474 58.4505 7.40474C58.5505 7.40474 58.9505 7.60474 59.3505 7.70474C60.9505 10.6047 63.3505 14.2047 66.8505 17.1047C65.5505 17.9047 63.3505 18.9047 61.2505 18.9047C57.5505 18.8047 55.0505 18.7047 54.9505 12.1047C54.9505 9.30474 54.4505 7.10474 53.8505 5.30474C55.0505 5.70474 56.1505 6.20474 57.1505 6.70474H57.0505ZM23.8505 5.60473C26.5505 3.70473 32.2505 5.60474 35.4505 7.00474C35.4505 7.00474 35.4505 7.00473 35.4505 7.10473C34.7505 8.30473 34.2505 9.50474 33.9505 10.7047C32.6505 10.3047 30.4505 9.80474 28.1505 11.0047C26.7505 11.7047 25.6505 12.9047 24.7505 14.5047C22.7505 13.0047 20.9505 12.1047 19.5505 11.6047C20.8505 9.10474 22.3505 6.80473 24.0505 5.60473H23.8505ZM33.1505 17.0047L27.9505 17.6047C28.4505 16.2047 29.1505 15.2047 29.9505 14.8047C31.2505 14.1047 32.9505 14.9047 32.9505 14.9047L33.1505 14.5047C33.1505 15.4047 33.1505 16.2047 33.1505 16.9047V17.0047ZM18.8505 12.6047C20.2505 13.0047 22.0505 13.9047 24.1505 15.5047C23.7505 16.3047 23.5505 17.2047 23.2505 18.3047L18.3505 18.9047C17.9505 18.2047 17.5505 17.6047 16.9505 17.1047C17.4505 15.8047 18.0505 14.2047 18.8505 12.7047V12.6047ZM24.6505 28.7047C22.5505 28.8047 20.1505 29.0047 17.2505 29.3047C15.1505 29.5047 13.0505 29.6047 11.4505 29.7047V21.4047C11.4505 20.5047 12.1505 19.8047 13.0505 19.8047C13.9505 19.8047 14.7505 20.6047 14.7505 21.5047V24.9047H19.0505V23.1047L24.2505 22.5047C24.7505 24.1047 25.2505 26.4047 24.7505 28.7047H24.6505ZM55.4505 38.8047C52.9505 38.8047 51.4505 37.6047 50.5505 36.4047C56.2505 36.2047 63.4505 35.3047 65.9505 35.0047C67.5505 35.9047 69.1505 36.7047 70.6505 37.4047C68.2505 38.2047 61.9505 38.9047 55.4505 38.8047ZM93.6505 30.6047C92.3505 28.1047 90.5505 26.4047 88.8505 25.3047C88.0505 25.3047 87.3505 25.3047 86.6505 25.3047C88.5505 26.3047 91.2505 28.2047 92.8505 31.7047C91.6505 33.2047 90.1505 34.5047 88.0505 35.4047C81.9505 37.9047 73.0505 35.2047 62.1505 27.7047L59.7505 31.2047C59.8505 31.2047 59.9505 31.3047 60.0505 31.4047C54.0505 32.0047 47.2505 32.5047 45.0505 31.9047C42.9505 31.3047 41.4505 30.5047 40.2505 29.8047C38.9505 29.1047 37.7505 28.4047 36.3505 28.2047C35.9505 28.2047 34.9505 28.0047 25.7505 28.7047C26.2505 26.3047 25.7505 24.0047 25.2505 22.4047L35.8505 21.1047L38.4505 20.8047L37.6505 18.3047C37.6505 18.1047 36.3505 14.0047 39.0505 9.30474C40.3505 6.70474 42.1505 5.20474 44.5505 4.50474C46.0505 4.10474 47.7505 4.10474 49.3505 4.30474C50.1505 5.70474 51.1505 8.20474 51.2505 12.2047C51.4505 22.0047 57.1505 22.3047 60.8505 22.4047C60.9505 22.4047 61.0505 22.4047 61.1505 22.4047C64.8505 22.4047 68.2505 20.2047 69.4505 19.4047C69.7505 19.6047 70.0505 19.8047 70.4505 20.0047C74.6505 22.3047 79.5505 25.1047 86.4505 25.4047C86.4505 25.4047 86.3505 25.4047 86.2505 25.4047C87.0505 25.4047 87.8505 25.4047 88.5505 25.4047C90.2505 25.4047 92.0505 25.2047 93.9505 24.8047L95.5505 26.0047C94.8505 27.8047 94.0505 29.7047 93.3505 30.8047L93.6505 30.6047Z"
      fill="black"></path>
    <path
      d="M58.25 14.1048C57.85 14.4048 57.65 14.7048 57.55 15.2048C57.35 16.1048 58.05 17.0048 58.95 17.1048C58.95 17.1048 59.15 17.1048 59.25 17.1048C60.05 17.1048 60.75 16.5048 60.85 15.7048C61.05 14.8048 60.35 13.9048 59.45 13.8048C59.05 13.8048 58.55 13.8048 58.25 14.1048ZM59.35 14.9048C59.65 14.9048 59.85 15.3048 59.85 15.6048C59.85 15.9048 59.45 16.1048 59.15 16.1048C58.85 16.1048 58.65 15.7048 58.65 15.4048C58.65 15.2048 58.75 15.1048 58.85 15.0048C58.85 15.0048 59.05 14.9048 59.15 14.9048H59.35Z"
      fill="black"></path>
    <path
      d="M89.0505 25.3047C88.2505 25.3047 87.5505 25.3047 86.8505 25.3047C86.8505 25.3047 86.7505 25.3047 86.6505 25.3047C87.4505 25.3047 88.2505 25.3047 88.9505 25.3047H89.0505Z"
      fill="black"></path>
  </svg>

  <svg
    id="astro-head"
    width="68"
    height="68"
    viewBox="0 0 68 68"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M62.1974 60.8756C63.9938 57.8203 64.147 54.2496 62.9431 51.1843C62.9885 51.1071 63.0361 51.038 63.0815 50.9607C72.4665 34.999 67.1275 14.3807 51.1816 5.00507C45.2109 1.4945 38.427 -0.0675124 31.576 0.487308C20.6436 1.33949 10.7967 7.49614 5.23783 16.9505C-4.14711 32.9122 1.19186 53.5305 17.1377 62.9061C20.8643 65.0972 24.8947 66.524 29.1058 67.1488C35.2258 68.0847 41.4161 67.287 47.136 64.8746C52.3885 67.8866 59.1278 66.1082 62.2056 60.8735L62.1974 60.8756ZM42.4331 16.0438C42.8269 16.8231 41.9292 17.6196 41.2253 17.1086C36.6738 13.7877 26.8138 8.58666 15.9696 15.5089C15.237 15.9656 14.3615 15.1458 14.8059 14.4017C16.5959 11.4398 20.7652 6.99934 30.0874 5.54013C30.1958 5.52067 30.3157 5.52877 30.4184 5.55446C31.5711 5.84397 38.1342 7.81694 42.4301 16.049L42.4331 16.0438ZM49.1433 61.2014C46.5028 59.6489 45.2847 56.5961 45.9152 53.7567C46.0197 53.52 46.1376 53.2842 46.2709 53.0575C48.14 49.8786 52.2446 48.8114 55.4204 50.6786C58.5962 52.5459 59.6593 56.6515 57.7932 59.8253C55.6493 62.2464 52.0257 62.8962 49.1433 61.2014ZM40.1298 55.4442C38.5806 58.0555 34.4776 62.7013 27.6787 60.4579C27.2842 60.3161 27.3252 59.7162 27.757 59.665C29.3335 59.4341 31.1974 59.0324 33.2153 58.2982C35.472 57.4758 38.0491 55.8848 39.5516 54.8962C39.9183 54.6612 40.3531 55.0763 40.1319 55.4524L40.1298 55.4442ZM41.9506 58.1788C42.0998 58.7379 42.298 59.2844 42.5401 59.815C41.1484 61.0629 39.5995 62.1421 37.945 63.0829C36.6456 63.2549 35.3383 63.346 34.0241 63.3429C36.8851 62.0229 39.5624 60.2968 41.9506 58.1788ZM55.8202 49.9985C53.3136 48.5247 50.2933 48.6902 48 50.1637C50.1753 48.184 53.4739 47.7454 56.135 49.31C58.5336 50.7203 59.7554 53.3662 59.4835 55.9727C59.3312 53.5812 58.0335 51.2999 55.8202 49.9985V49.9985ZM60.3174 47.2624C59.707 46.6747 59.0234 46.141 58.2616 45.6931C57.3351 45.1484 56.3577 44.7609 55.3682 44.5119C58.9714 31.5156 54.6749 16.7935 44.4496 8.12589C53.7735 17.4076 56.8304 32.0941 52.0948 44.1889C51.7508 44.2085 51.4059 44.2414 51.0653 44.2907C55.8368 29.7904 49.7162 13.1638 35.6007 4.62169C40.3133 4.84108 44.9064 6.18271 49.0447 8.6159C62.4839 16.5177 67.3089 33.5335 60.3122 47.2593L60.3174 47.2624ZM40.3313 62.6764C41.3001 62.1713 42.2357 61.6051 43.143 60.9807C43.2968 61.2375 43.47 61.4849 43.6431 61.7323C42.5544 62.1114 41.4509 62.4333 40.3313 62.6764Z"
      fill="black"></path>
  </svg>
</div>

<style lang="scss">
  @keyframes rocking-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  @keyframes floating {
    from {
      transform: translateY(0) rotate(-1deg);
    }
    50% {
      transform: translateY(-10px) rotate(1deg);
    }
    75% {
      transform: translateY(-5px) rotate(-1deg);
    }
    to {
      transform: translateY(0) rotate(1deg);
    }
  }

  .wrapper {
    position: relative;
    aspect-ratio: 123/85;
    width: 123px;
    height: auto;
    animation: floating 5s ease-in-out infinite alternate;
    #astro-body {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    #astro-head {
      position: absolute;
      top: 0;
      right: 0;
      animation: rocking-animation 2s ease-in-out infinite;
      animation-direction: alternate;
    }
  }
</style>
