---
import Button from "./Button.astro";
---

<div id="companystats-wrapper">
  <svg
    class="companystats-blob"
    width="1920"
    height="467"
    viewBox="0 0 1920 467"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      id="companystats-blob"
      fill="var(--color-purple)"></path>
  </svg>
  <div class="wrapper">
    <div class="inner">
      <div class="flex-area">
        <h3>Superjoy at a glance</h3>
        <div class="text">
          <p>
            The Superjoy team leverages its expert understanding of Fortnite
            content development and highly successful influencer campaigns to
            build tailored Fortnite creative user-generated games that activate
            the Fortnite community, convert players into brand advocates, and
            drive revenue.
          </p>
          <div>
            <Button
              input="Our process"
              url="/work-with-us"
              textColor="var(--color-purple)"
              backgroundColor="var(--primary-light)"
            />
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <div class="stat-text">
          <h6>Company <br />stats</h6>
          <div class="stat">
            <h3>20</h3>
            <small>staff count</small>
          </div>
          <div class="stat">
            <h3>10M</h3>
            <small>lifetime plays</small>
          </div>
          <div class="stat">
            <h3>15k</h3>
            <small>social media following</small>
          </div>
        </div>
        <div class="bg1"></div>
        <div class="bg2"></div>
      </div>
    </div>
  </div>
</div>

<script>
  import { interpolate } from "flubber";
  import { animate, scroll } from "motion";

  const path = document.getElementById("companystats-blob");
  const parent = document.getElementById("companystats-wrapper");

  const shapeStates = {
    initialShape: {
      d: "M1919.87 467H0C27.0243 387.964 37.8595 287.13 239.012 182.599C440.165 78.0679 686.315 86.9913 931.191 57.7991C1174.92 27.842 1416.86 -42.1428 1593.29 35.1082C1769.2 110.32 1855.75 249.524 1920 467H1919.87Z",
    },
    targetShape: {
      d: "M1918.65 516H0C68.1814 442.385 110.939 391.053 199.757 331.468C354.279 227.813 538.848 167.403 766.669 100.39C994.326 33.5426 1265.07 -39.9071 1502.3 25.4549C1736.73 89.9916 1938.46 291.359 1918.65 515.835V516Z",
    },
  };

  let currentPath = shapeStates.initialShape;

  // set svg attributes to that of stateShapes
  path.setAttribute("d", currentPath.d);

  // toggle between shape states
  currentPath =
    currentPath === shapeStates.initialShape
      ? shapeStates.targetShape
      : shapeStates.initialShape;
  const mixshapeStates = interpolate(path.getAttribute("d"), currentPath.d);

  // animate on scroll
  scroll(
    animate((progress) => path.setAttribute("d", mixshapeStates(progress))),
    { target: parent, offset: ["0 0.5", "0.45 0.5"] }
  );
</script>

<style lang="scss">
  #companystats-wrapper {
    padding-top: 10rem;
    overflow-x: hidden;

    .companystats-blob {
      transform: translateY(5px);
    }
  }
  .wrapper {
    background: var(--color-purple);
    color: var(--primary-light);
    padding-bottom: 1rem;
  }

  .inner {
    position: relative;
    width: var(--inner-width);
    margin: 0 auto;
  }
  .flex-area {
    display: flex;
    position: relative;

    .text {
      flex-basis: 60%;
      margin-left: 5rem;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      flex-direction: column;
      p {
        margin-bottom: 3rem;
      }
    }

    h3 {
      text-transform: uppercase;
      flex-basis: 40%;
      line-height: 100%;
    }
  }
  .stats-wrapper {
    position: relative;
    height: calc(100px + 135px);
    margin: 10rem auto;
    display: grid;
    place-items: center;
  }
  .bg1 {
    position: absolute;
    top: 0;
    width: 100%;
    border: 5px solid var(--color-darkpurple);
    background: var(--color-darkpurple);
    height: 100px;
    border-radius: 30px;
  }
  .bg2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 5px solid var(--color-darkpurple);
    background: var(--color-darkpurple);
    height: 135px;
    border-radius: 30px;
  }
  .stat-text {
    width: 97%;
    height: 90%;
    margin: 0 auto;
    padding: 0 5rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      text-transform: uppercase;
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-family: "Hamburg-Light";
      text-transform: uppercase;
      line-height: 100%;
    }
    small {
      font-family: "Aktiv-Regular";
    }
  }
</style>
