---
import Button from "./Button.astro";
---

<div id="companystats-wrapper">
  <svg
    class="companystats-blob"
    width="1920"
    height="495"
    viewBox="0 0 1920 495"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path id="companystats-blob" fill="var(--color-purple)"></path>
  </svg>
  <div class="wrapper">
    <div class="inner">
      <div class="flex-area">
        <h3>Superjoy at a glance</h3>
        <div class="text">
          <p>
            The Superjoy team leverages its expert understanding of Fortnite
            content development and highly successful influencer campaigns to
            build tailored Fortnite creative user-generated games that activate
            the Fortnite community, convert players into brand advocates, and
            drive revenue.
          </p>
          <div>
            <Button
              input="Our process"
              url="/work-with-us"
              textColor="var(--color-purple)"
              backgroundColor="var(--primary-light)"
            />
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <div class="stat-text">
          <h6>Company <br />stats</h6>
          <div class="stat">
            <h3>20</h3>
            <small>staff count</small>
          </div>
          <div class="stat">
            <h3>10M</h3>
            <small>lifetime plays</small>
          </div>
          <div class="stat">
            <h3>15k</h3>
            <small>social media following</small>
          </div>
        </div>
        <div class="bg1"></div>
        <div class="bg2"></div>
      </div>
    </div>
  </div>
</div>

<script>
  import { interpolate } from "flubber";
  import { animate, scroll } from "motion";

  const path = document.getElementById("companystats-blob");
  const parent = document.getElementById("companystats-wrapper");

  const shapeStates = {
    initialShape: {
      d: "M1920.4 358.289C1855.6 232.863 1738.4 131.903 1607.6 108.835C1466.3 83.9691 1308 151.675 1081.1 101.345C853.1 52.9121 568 -29.2741 353.5 10.5707C164.2 44.5237 25.7004 153.373 0.400391 358.189V495H1920.4V358.189V358.289Z",
    },
    targetShape: {
      d: "M1920 357.989C1849.8 152.871 1593.3 62.9639 1593.3 62.9639C1416.9 -14.2425 1169 24.5607 931.2 85.6658C729.7 137.37 533.9 136.07 349.8 164.772C45.5 212.176 0 357.989 0 357.989V495H1920V357.989Z",
    },
  };

  let currentPath = shapeStates.initialShape;

  // set svg attributes to that of stateShapes
  path.setAttribute("d", currentPath.d);

  // toggle between shape states
  currentPath =
    currentPath === shapeStates.initialShape
      ? shapeStates.targetShape
      : shapeStates.initialShape;
  const mixshapeStates = interpolate(path.getAttribute("d"), currentPath.d);

  // animate on scroll
  scroll(
    animate((progress) => path.setAttribute("d", mixshapeStates(progress))),
    { target: parent, offset: ["0 0.5", "0.45 0.5"] }
  );
</script>

<style lang="scss">
  #companystats-wrapper {
    padding-top: 10rem;
    overflow-x: hidden;

    .companystats-blob {
      transform: translateY(50px);
    }
  }
  .wrapper {
    background: var(--color-purple);
    color: var(--primary-light);
    padding-bottom: 1rem;
  }

  .inner {
    position: relative;
    width: var(--inner-width);
    margin: 0 auto;
  }
  .flex-area {
    display: flex;
    position: relative;

    .text {
      flex-basis: 60%;
      margin-left: 5rem;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      flex-direction: column;
      p {
        margin-bottom: 3rem;
      }
    }

    h3 {
      text-transform: uppercase;
      flex-basis: 40%;
      line-height: 100%;
    }
  }
  .stats-wrapper {
    position: relative;
    height: calc(100px + 135px);
    margin: 10rem auto;
    display: grid;
    place-items: center;
  }
  .bg1 {
    position: absolute;
    top: 0;
    width: 100%;
    border: 5px solid var(--color-darkpurple);
    background: var(--color-darkpurple);
    height: 100px;
    border-radius: 30px;
  }
  .bg2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 5px solid var(--color-darkpurple);
    background: var(--color-darkpurple);
    height: 135px;
    border-radius: 30px;
  }
  .stat-text {
    width: 97%;
    height: 90%;
    margin: 0 auto;
    padding: 0 5rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      text-transform: uppercase;
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-family: "Hamburg-Light";
      text-transform: uppercase;
      line-height: 100%;
    }
    small {
      font-family: "Aktiv-Regular";
    }
  }
</style>
