<header>
  <div class="logo-container">
    <a href="/">
      <svg
      class="logo-svg"
      width="191"
      height="179"
      viewBox="0 0 191 179"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="logo-color"
          d="M190.984 113.472C190.984 104.026 186.494 95.6164 179.559 90.2008C179.559 89.9619 179.575 89.7389 179.575 89.5C179.575 40.1547 139.291 0 89.7874 0C71.2515 0 53.4826 5.57483 38.4301 16.1033C14.3653 32.8278 0 60.2719 0 89.5C0 138.845 40.2837 179 89.7874 179C101.356 179 112.59 176.834 123.152 172.581C138.54 166.465 151.739 156.271 161.662 143.002C177.865 142.827 191 129.639 191 113.456L190.984 113.472ZM84.5782 37.1762C86.5436 38.4345 85.5529 41.4768 83.2359 41.2538C68.2314 39.7725 38.4301 41.1423 22.8024 71.6924C21.7318 73.7312 18.5998 73.0303 18.6158 70.7208C18.7277 61.4984 22.323 45.6659 41.8497 29.7218C42.0734 29.5307 42.361 29.3873 42.6326 29.3077C45.6847 28.4157 63.5015 24.0833 84.5782 37.1921V37.1762ZM161.311 131.853C153.113 131.853 146.162 126.485 143.765 119.11C143.685 118.425 143.637 117.725 143.637 117.024C143.637 107.196 151.659 99.2002 161.518 99.2002C171.377 99.2002 179.399 107.196 179.399 117.008C177.737 125.466 170.259 131.853 161.311 131.853ZM132.708 130.802C132.676 138.893 129.512 155.108 110.784 159.138C109.682 159.345 108.963 157.911 109.889 157.21C113.213 154.55 116.968 151.11 120.627 146.698C124.718 141.76 128.505 134.624 130.63 130.324C131.158 129.288 132.724 129.655 132.724 130.817L132.708 130.802ZM140.617 134.624C141.72 135.707 142.918 136.695 144.197 137.587C142.679 142.334 140.569 146.905 138.029 151.301C135.264 153.451 132.372 155.426 129.336 157.194C134.146 150.298 137.981 142.716 140.617 134.624ZM161.518 97.0977C153.736 97.0977 146.993 101.558 143.701 108.04C146.034 100.554 153.049 95.0908 161.311 95.0908C168.757 95.0908 175.165 99.5188 178.073 105.874C174.477 100.586 168.389 97.0977 161.518 97.0977V97.0977ZM168.182 84.7375C165.976 84.2119 163.675 83.9092 161.311 83.9092C158.434 83.9092 155.654 84.3393 153.033 85.1039C143.717 50.3806 113.836 22.3631 78.4901 16.2626C112.59 24.9912 139.563 54.6015 145.044 88.7832C144.277 89.2929 143.526 89.8345 142.807 90.4079C134.146 50.6514 97.4734 20.7225 53.3228 20.165C64.4923 14.3034 76.9081 11.1815 89.7554 11.1815C131.477 11.1815 165.689 43.7545 168.166 84.7375H168.182ZM142.982 147.144C144.532 144.675 145.923 142.111 147.169 139.451C147.872 139.833 148.607 140.167 149.342 140.502C147.345 142.843 145.235 145.073 142.982 147.144Z"
          fill="var(--primary-dark)"></path>
      </svg>
    </a>
  </div>
  <button class="hamburger-menu">
    <span class="line"></span>
    <span class="line"></span>
  </button>
</header>
<nav class="menu-modal">
  <div class="menu-modal-inner">
    <ul>
      <li class="menu-option about">
        <h3>
          <a href="/about">About</a>
        </h3>
      </li>
      <li class="menu-option work">
        <h3>
          <a href="/work-with-us">Work with Us</a>
        </h3>
      </li>
      <li class="menu-option contact">
        <h3>
          <a href="/contact">Contact</a>
        </h3>
      </li>
    </ul>
  </div>
</nav>
<div class="modal-background-tint"></div>

<style lang="scss">
  .logo-svg {
    will-change: transform;
    transform: scale(1);
    aspect-ratio: 61/57;
    width: 61px;
    height: auto;
  }
  .logo-svg,
  .logo-color {
    transform-origin: top left;
    transition: var(--hover-transition);
  }

  header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo-container {
    width: 50px;
    height: 50px;
  }

  .logo {
    width: 100%;
    height: 100%;
    fill: #2d2d2d;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #2d2d2d;
    transition: var(--hover-transition);
  }

  .hamburger-menu .line:first-child {
    transform-origin: top left;
    margin-bottom: 6px; /* add margin to center line vertically */
  }

  .hamburger-menu .line:last-child {
    transform-origin: bottom left;
    margin-top: 6px; /* add margin to center line vertically */
  }

  .hamburger-menu.open .line:first-child {
    transform: rotate(17.5deg);
  }

  .hamburger-menu.open .line:last-child {
    transform: rotate(-18.25deg);
  }

  .modal-background-tint {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: var(--hover-transition);
    background-color: black;
    backdrop-filter: brightness(60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal-background-tint.open {
    z-index: 997;
    transition: var(--transition-smooth);
    visibility: visible;
    opacity: 0.5;
  }

  .menu-modal {
    visibility: hidden;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    transition: var(--transition-smooth);
    background-color: var(--color-purple);
    text-align: center;
    // opacity: 0;
    transform: translate(0, -100%);
  }

  .menu-modal.open {
    visibility: visible;
    transform: translate(0, 0);
    // opacity: 1;
  }
  .menu-modal-inner {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
  .menu-modal-inner ul {
    position: absolute;
    bottom: 5%;
    left: 0rem;
    list-style: none;
    margin: 2rem 0;
    margin-bottom: 5rem;
    padding: 0;
    bottom: 0;
  }

  .menu-modal li {
    text-align: left;
    cursor: pointer;

    h3 > a {
      transition: var(--hover-transition);
      color: unset;
      text-decoration: none;
    }
  }
  li > h3 {
    transition: var(--hover-transition);
    transform: translateX(0);
  }
  li.about > h3:hover {
    color: var(--accent-orange) !important;
    transform: translateX(2rem);
  }
  li.work > h3:hover {
    color: var(--color-green) !important;
    transform: translateX(2rem);
  }
  li.contact > h3:hover {
    color: var(--accent-blue-secondary) !important;
    transform: translateX(2rem);
  }
</style>

<script>
  // selectors
  const logo = document.querySelector(".logo-color");
  const logoSVG = document.querySelector(".logo-svg");
  const hamburger = document.querySelector(".hamburger-menu");
  const menuModal = document.querySelector(".menu-modal");
  const background = document.querySelector(".modal-background-tint");
  const menuOptions = document.querySelectorAll(".menu-option");
  const hamburgerLines = document.querySelectorAll(".line");

  // actions on open
  const openModal = () => {
    hamburger.classList.toggle("open");
    menuModal.classList.toggle("open");
    menuModal.setAttribute("arial-modal", "true");
    background.classList.toggle("open");
    // when menu opens, change color of
    // 1. hamburger icon
    hamburgerLines.forEach((line) => {
      line.style.backgroundColor = "var(--color-yellow)";
    });
    // 2. logo
    logo.style.fill = "var(--color-yellow)";
    logoSVG.style.transform = "scale(2.5)";
    // 3. menu options
    menuOptions.forEach((menuOption) => {
      menuOption.style.color = "var(--primary-light)";
    });
  };

  // actions on close
  const closeModal = () => {
    console.log("close modal fires");
    hamburger.classList.remove("open");
    menuModal.classList.remove("open");
    menuModal.setAttribute("arial-modal", "false");
    background.classList.remove("open");
    // when menu closes, change color of
    // 1. hamburger icon
    hamburgerLines.forEach((line) => {
      line.style.backgroundColor = "var(--primary-dark)";
    });
    // 2. logo
    logo.style.fill = "var(--primary-dark)";
    logoSVG.style.transform = "scale(1)";
  };

  // toggle modal when hamburger is clicked
  hamburger.addEventListener("click", function () {
    if (menuModal.classList.contains("open")) {
      closeModal();
    } else {
      openModal();
    }
  });
  // close when background is clicked
  background.addEventListener("click", () => closeModal());

  menuOptions.forEach((menuOption) => {
    const className = menuOption.classList[1]; // select second classname, aka the "case"

    // When a menu item is hovered
    menuOption.addEventListener("mouseover", function () {
      menuModal.style.backgroundColor = getBgHoverColor(className);
      // change color of currently hovered element
      this.style.color = getHoverColor(className);
      // change logo color
      logo.style.fill = getHoverColor(className);
      // change hamburger lines color
      hamburgerLines.forEach((line) => {
        line.style.backgroundColor = getHoverColor(className);
      });
      menuOptions.forEach((otherMenuOption) => {
        if (otherMenuOption !== this) {
          // skip currently hovered element
          otherMenuOption.style.color = getHoverColor(className);
        }
      });
    });

    // When a menu item is no longer hovered
    menuOption.addEventListener("mouseout", function () {
      // revert logo color
      logo.style.fill = "var(--color-yellow)";
      // revert hamburger lines color
      hamburgerLines.forEach((line) => {
        line.style.backgroundColor = "var(--color-yellow)";
      });
      // change bg modal color
      menuModal.style.backgroundColor = "var(--color-purple)";
      // revert menu options colors
      menuOptions.forEach((otherMenuOption) => {
        otherMenuOption.style.color = "var(--primary-light)";
      });
    });
  });

  function getBgHoverColor(className) {
    switch (className) {
      case "about":
        return "var(--color-green)";
      case "work":
        return "var(--accent-blue-secondary)";
      case "contact":
        return "var(--color-yellow)";
      default:
        return "var(--color-purple)";
    }
  }
  function getHoverColor(className) {
    switch (className) {
      case "about":
        return "var(--color-darkgreen)";
      case "work":
        return "var(--primary-light)";
      case "contact":
        return "var(--color-darkgreen)";
      default:
        return "var(--accent-green)";
    }
  }
</script>
