.header-container {
  display: flex;
  align-items: center;
  position: fixed;
  right: 1.5rem;
  top: 5.5rem;
  z-index: 25;

  button {
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: none;
    border: 1px solid;
    display: flex;
    transition: var(--hover-transition);
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}